.fixed { position: fixed; }

.relative { position: relative; }

.absolute { position: absolute; }

.full-heigth { height: 100%; }

.full-width { width: 100%; }

.font-size-xs { font-size: 15px; }

.font-size-m { font-size: 20px; }

.margin-top-s { margin-top: 10px; }

.margin-left-s { margin-left: 10px; }

.margin-right-s { margin-right: 10px; }

.text-warning { color: #eea236; }

.centered { 
    margin-left: auto;
    margin-right: auto;
}

.cursor-pointer { cursor: pointer; }

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

input,
select,
textarea {
    max-width: 280px;
}

body {
    padding-top: 50px;
    padding-bottom: 0;
}

.body-content {
    padding-left: 0;
    padding-right: 0;
}

.header {
    height: 50px;
    line-height: 50px;
    top: 0;
    right: 0;
    left: 0;
    background-color: #F2F1F4;
    z-index: 1000;
}

.header .user-folder-path { margin-left: 4%; }

.header .folder-path-arrow { 
    margin-left: -5px;
    color: #C0BEBE;
}

.header .username { 
    color: #4C6F59;
    cursor: default;
}

.header .username:hover { text-decoration: none; }

.cloud-content { width: 80%; }

.welcome {
	font-size: 40px;
	color: #bdb9b9;
}

.logo { margin-left: 5%; }

.login-head {
    background: #6D4A70;
    padding: 2em 0;
}

.login-head h1 {
	color: #fff;
	font-size: 1.5em;
}

.form-login {
    padding: 3em 2em;
    background: #F2F2F2;
}

.box {
	display: inline-block;
	margin: 5px;
	padding: 0 5px;
	width: 200px;
	background-color: #BBBABD;
	color: #fff;
}

.box.container {
    -ms-border-radius: 2px;
    border-radius: 2px;
    top: 0;
	bottom: 0;
	height: 45px;
	line-height: 45px;
}

.box.file.container .option,
.box.folder.container .option { color: #BBBABD; }

.box.file.container .option .open-options,
.box.folder.container .option .open-options {
	font-size: 25px;
	line-height: inherit;
}

.box.file.container .option:hover,
.box.folder.container .option:hover { color: #fff; }

.box.folder.container:hover,
.box.file.container:hover { cursor: pointer; }

.box .name {
	width: 170px;
	white-space: nowrap;
	overflow: hidden !important;
	-moz-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	padding-left: 40px;
}

.box .option {
	background: none;
	border: none;
	top: 0;
	right: 5px;
	padding: 0;
}

.box .option:focus { outline: none; }

.no-entities { font-size: 20px; }

.title { font-size: 18px; }

.storage-logo {
    position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
    -ms-background-size: cover;
    background-size: cover;
}

.logo-1 {
    background: url("Images/Storages/logo-drive.png") top left no-repeat;
    -ms-background-size: contain;
    background-size: contain;
}

.logo-3 {
    background: url("Images/Storages/logo-dropbox.png") top left no-repeat;
    -ms-background-size: contain;
    background-size: contain;
}

.row.storages-container { margin-left: 10px; }

.logo-storage-container {
    background: #E5E7E4;
	margin: 10px;
	position: relative;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.connect,
.disconnect {
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
    -ms-opacity: 0.7;
    opacity: 0.7;
	padding-top: 40px;
	font-size: 25px;
	color: #fff;
}

.connect { background: #708964;  }

.disconnect { background: #9f6662; }

.logo-storage-container:hover .connect,
.logo-storage-container:hover .disconnect {
    cursor: pointer;
    -ms-border-radius: 5px;
    border-radius: 5px;
	display: block
}

.logo-lg {
    width: 200px; height: 200px;
    -ms-background-size: contain !important;
    background-size: contain !important;
	margin-top: 5px;
}

.logo-sm {
    width: 80px; height: 80px;
    -ms-background-size: contain !important;
    background-size: contain !important;
	margin-top: 5px;
}

.logo-lg-1 { background: url(Images/Storages/drive-logo-lg.png) top left no-repeat; }

.logo-lg-3 { background: url(Images/Storages/dropbox-logo-lg.png) top left no-repeat; }

.logo-storage-name {
	font-size: 30px;
	color: #6F6C6C;
}

.storages-sm .logo-storage-name {
	font-size: 18px;
}

.alert-container {
	position: fixed;
	top: 10px;
	right: 33%;
	left: 33%;
	width: 33%;
    z-index: 1100;
}

.create-folder-button { 
	margin-top: 30px;
	margin-bottom: 10px;
}

.glyphicon.new-folder { margin-right: 10px; }

/*loader*/

.background-loder {
    background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0, #1C262B 100%);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
    -ms-opacity: 0.5;
    opacity: 0.5;
	z-index: 99998;
}

.loader {
    position: absolute;
	top: calc(50% - 64px);
	left: calc(50% - 64px);
	width: 90px;
	height: 90px;
    -ms-border-radius: 50%;
    border-radius: 50%;
	-moz-perspective: 800px;
	-ms-perspective: 800px;
	-webkit-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
	z-index: 99999;
}

.inner {
    position: absolute;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.inner.one {
    left: 0;
	top: 0;
	-moz-animation: rotate-one 1s linear infinite;
	-o-animation: rotate-one 1s linear infinite;
	-webkit-animation: rotate-one 1s linear infinite;
    -ms-animation: rotate-one 1s linear infinite;
    animation: rotate-one 1s linear infinite;
	border-bottom: 8px solid #398439;
}

.inner.two {
    right: 0;
	top: 0;
	-moz-animation: rotate-two 1s linear infinite;
	-o-animation: rotate-two 1s linear infinite;
	-webkit-animation: rotate-two 1s linear infinite;
    -ms-animation: rotate-two 1s linear infinite;
    animation: rotate-two 1s linear infinite;
	border-right: 8px solid #3276B1;
}

.inner.three {
    right: 0;
	bottom: 0;
	-moz-animation: rotate-three 1s linear infinite;
	-o-animation: rotate-three 1s linear infinite;
	-webkit-animation: rotate-three 1s linear infinite;
    -ms-animation: rotate-three 1s linear infinite;
	border-top: 8px solid #D9534F;
}

@-moz-keyframes rotate-one {
	0% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-webkit-keyframes rotate-one {
	0% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes rotate-one {
	0% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes rotate-two {
	0% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
	}
	100% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes rotate-three {
	0% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}