<div >
    <div>
        <div ng-if="!isLogin">
            <div class="row margin-bottom-s">
                <div class="col-md-12"></div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">Options</div>
                        <div class="panel-body">
                            <input type="file" nv-file-select uploader="uploader" />
                            <ul>
                                <li ng-repeat="item in uploader.queue">
                                    Name: <span ng-bind="item.file.name"></span><br />
                                    <button ng-click="item.upload()">upload</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Folders & files</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="box folder"
                                     ng-repeate="folders">{{name}}</div>
                            </div>
                            <div class="row">
                                <div class="box file"
                                     ng-repeate="folders">{{name}}</div>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-success">
                        <div class="panel-heading">Details</div>
                        <div class="panel-body">
                            <div class=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="isLogin">
            <div class="row">
                <div class="login-head">
                    <h1>Are you ready ?</h1>
                </div>
                <div class="form-login col-md-6">
                    <div class="form-group">
                        <input type="text" placeholder="Login" class="form-control"
                               ng-model="userLogin" />
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="*******" class="form-control"
                               ng-model="userPassword" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-default" value="Let's go"
                               ng-click="login()" />
                    </div>
                    <h4><a href="#">Lost your Password ?</a></h4>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="email" placeholder="e-mail" class="form-control"
                               ng-model="userRegistrationEmail" />
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="*******" class="form-control"
                               ng-model="userRegistrationPassword" />
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="*******" class="form-control"
                               ng-model="userRegistrationConfirmPassword" />
                    </div>
                    <button type="button" class="btn btn-default"
                            ng-click="register()">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>