@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cloud</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="cloud" class="noselect">
    <div class="header fixed font-size-m">
            <img src="~/Content/Images/logo.png"
                 alt="logo" class="logo pull-left" />
            @*<div class="user-folder-path pull-left" ng-if="!isLoginView">
                <div class="cursor-pointer pull-left"
                     ng-repeat="folder in cloudFolders"
                     ng-click="openFolderFromHeader(folder, $index)">
                    {{folder.name}}
                    <span class="glyphicon glyphicon-menu-right folder-path-arrow font-size-xs"></span>
                </div>
            </div>
            <div class="pull-right" ng-if="!isLoginView">
                <a class="cursor-pointer username margin-right-s font-size-xs">{{userInfo.name}}</a>
                <a class="cursor-pointer margin-right-s" title="manage storages"
                   ng-click="manageStorages()">
                    <span class="glyphicon glyphicon-th text-warning"></span>
                </a>
                <a class="cursor-pointer margin-right-s" title="logout"
                   ng-click="logout()">
                    <span class="glyphicon glyphicon-log-out text-danger"></span>
                </a>
            </div>*@
        </div>

    <div class="body-content">
        <div ui-view></div>
    </div>

    <cloud-alert></cloud-alert>
    <cloud-loader></cloud-loader>

    @Scripts.Render("~/bundles/ng")
</body>
<html>

@*<div ng-if="!isLoginView && !storages.connected.length">
    <div class="welcome text-center">welcome page</div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 logo-storage-container"
                 ng-repeat="storage in storages.available"
                 ng-click="authorizeStorage(storage.id)">
                <div class="logo-lg text-center container"
                     ng-class="getStorageLargeImageClass(storage.id)"></div>
                <div class="text-center logo-storage-name">{{storage.name}}</div>
                <div class="connect text-center">connect</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 logo-storage-container"
                 ng-repeat="storage in storages.connected"
                 ng-click="disconnect(storage.id)">
                <div class="logo-lg text-center container"
                     ng-class="getStorageLargeImageClass(storage.id)"></div>
                <div class="text-center logo-storage-name">{{storage.name}}</div>
                <div class="disconnect text-center">disconnect</div>
            </div>
        </div>
    </div>
</div>*@
