<div >
	<div>
		<div ng-if="!isLogin">
			<div class="row margin-bottom-s">
				<div class="col-md-12"></div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<div class="panel panel-info">
						<div class="panel-heading">options</div>
						<div class="panel-body">
							<div>
								<button class="btn btn-group" ng-click="createFolder()">new folder</button>
							</div>
							<div>
								<input type="file" nv-file-select uploader="uploader" />
								<div ng-if="uploader.queue[0]">
									name: <span ng-bind="uploader.queue[0].file.name"></span><br />
									<button ng-click="uploader.queue[0].upload()">upload</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="panel panel-primary">
						<div class="panel-heading">{{folderPath}}</div>
						<div class="panel-body container">
							<div class="row">
								<div class="text-center" ng-if="folders.length == 0">no folders</div>
								<div class="box folder container relative folder"
								     ng-repeat="folder in folders">
									@*todo: click entire folder*@
									<div class="name absolute" title="{{folder.name}}"
									     ng-click="openFolder(folder)">{{folder.name}}</div>
									<button class="option absolute" type="button" data-toggle="dropdown"
									        aria-expanded="false"></button>
									<ul class="dropdown-menu" role="menu">
										<li><a ng-click="deleteFolder(folder)">delete</a></li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="text-center" ng-if="files.length == 0">no files</div>
								<div class="box file container relative" ng-repeat="file in files">
									<div class="name absolute" title="{{getFileNameWithoutExtention(file.name)}}">
										{{getFileNameWithoutExtention(file.name)}}
									</div>
									<button class="option absolute" type="button" data-toggle="dropdown"
									        aria-expanded="false">
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a ng-click="deleteFile(file)">delete</a></li>
										<li><a ng-click="renameFile(file)">rename</a></li>
									</ul>
								</div>
							</div>
						</div>  
					</div>
				</div>
				<div class="col-md-2">
					<div class="panel panel-success">
						<div class="panel-heading">details</div>
						<div class="panel-body">
							<div class=""></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="isLogin">
			<div class="row">
				<div class="login-head">
					<h1>are you ready ?</h1>
				</div>
				<div class="form-login col-md-6">
					<div class="form-group">
						<input type="text" placeholder="Login" class="form-control"
						       ng-model="userLogin" />
					</div>
					<div class="form-group">
						<input type="password" placeholder="*******" class="form-control"
						       ng-model="userPassword" />
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Let's go"
						       ng-click="login()" />
					</div>
					<h4><a href="#">lost password ?</a></h4>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input type="email" placeholder="e-mail" class="form-control"
						       ng-model="userRegistrationEmail" />
					</div>
					<div class="form-group">
						<input type="text" placeholder="*******" class="form-control"
						       ng-model="userRegistrationPassword" />
					</div>
					<div class="form-group">
						<input type="text" placeholder="*******" class="form-control"
						       ng-model="userRegistrationConfirmPassword" />
					</div>
					<button type="button" class="btn btn-default"
					        ng-click="register()">register</button>
				</div>
			</div>
		</div>
	</div>
</div>