<div class="welcome text-center">connect to storage</div>
<div class="container">
    <div class="row">
        <div class="font-size-m">available:</div>
        <div class="text-center" ng-if="!storages.available.length">no available</div>
        <div class="col-md-2 logo-storage-container"
             ng-repeat="storage in storages.available"
             ng-click="connect(storage.id)">
            <div class="logo-lg text-center container"
                 ng-class="getStorageLargeImageClass(storage.id)"></div>
            <div class="text-center logo-storage-name">{{storage.name}}</div>
            <div class="connect text-center">connect</div>
        </div>
    </div>
    <div class="row">
        <div class="font-size-m">connected:</div>
        <div class="text-center" ng-if="!storages.connected.length">no connected</div>
        <div class="col-md-2 logo-storage-container"
             ng-repeat="storage in storages.connected"
             ng-click="disconnect(storage.id)">
            <div class="logo-lg text-center container"
                 ng-class="getStorageLargeImageClass(storage.id)"></div>
            <div class="text-center logo-storage-name">{{storage.name}}</div>
            <div class="disconnect text-center">disconnect</div>
        </div>
    </div>
</div>