@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cloud</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="cloud" ng-controller="appController" class="noselect">
    @*<div class="header fixed font-size-m">
            <img src="~/Content/Images/logo.png"
                 alt="logo" class="logo pull-left" />
            <div class="user-folder-path pull-left" ng-if="!isLoginView">
                <div class="cursor-pointer pull-left"
                     ng-repeat="folder in cloudFolders"
                     ng-click="openFolderFromHeader(folder, $index)">
                    {{folder.name}}
                    <span class="glyphicon glyphicon-menu-right folder-path-arrow font-size-xs"></span>
                </div>
            </div>
            <div class="pull-right" ng-if="!isLoginView">
                <a class="cursor-pointer username margin-right-s font-size-xs">{{userInfo.name}}</a>
                <a class="cursor-pointer margin-right-s" title="manage storages"
                   ng-click="manageStorages()">
                    <span class="glyphicon glyphicon-th text-warning"></span>
                </a>
                <a class="cursor-pointer margin-right-s" title="logout"
                   ng-click="logout()">
                    <span class="glyphicon glyphicon-log-out text-danger"></span>
                </a>
            </div>
        </div>*@
    <div class="body-content">
        <div ui-view></div>
    </div>
    @*<div ng-class="{'background-loder': isLoader.length >= 1}"></div>
        <div class="loader" ng-if="isLoader.length >= 1">
            <div class="inner one"></div>
            <div class="inner two"></div>
            <div class="inner three"></div>
        </div>

        <div class="alert-container" ng-show="alerts.length">
            <alert ng-repeat="alert in alerts"
                   class="alert text-center"
                   type="{{alert.type}}"
                   close="closeAlert($index)">
                {{alert.msg}}
            </alert>
        </div>*@

    <script type="text/ng-template" id="createFolderModal.html">
        <div class="modal-header">
            <h3 class="modal-title text-center">create folder</h3>
        </div>
        <div class="modal-body">
            <div>
                <input type="text" class="form-control centered" ng-model="folderName" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="create(file.name)">create</button>
            <button class="btn btn-warning" ng-click="cancel()">cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="renameModal.html">
        <div class="modal-header">
            <h3 class="modal-title text-center">rename</h3>
        </div>
        <div class="modal-body">
            <div>
                <input type="text" class="form-control centered" ng-model="entryNewName" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="rename()">rename</button>
            <button class="btn btn-warning" ng-click="cancel()">cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="deleteConfirmModal.html">
        <div class="modal-header">
            <h3 class="modal-title text-center">confirm</h3>
        </div>
        <div class="modal-body">
            <div class="text-center">
                sure to delete '{{getFileNameWithoutExtention(entity.name)}}' ?
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="delete()">delete</button>
            <button class="btn btn-warning" ng-click="cancel()">cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="storagesModal.html">
        <div class="modal-header">
            <h3 class="modal-title text-center">storages</h3>
        </div>
        <div class="modal-body">
            <div class="title">
                available:
            </div>
            <div class="row storages-container">
                <div class="text-center" ng-if="!storages.available.length">no storages</div>
                <div class="col-md-3 storages-sm logo-storage-container"
                     ng-repeat="storage in storages.available"
                     ng-click="authorizeStorage(storage.id)">
                    <div class="logo-sm text-center container"
                         ng-class="getStorageLargeImageClass(storage.id)"></div>
                    <div class="text-center logo-storage-name">{{storage.name}}</div>
                    <div class="connect text-center">connect</div>
                </div>
            </div>
            <div class="title">
                connected:
            </div>
            <div class="row storages-container">
                <div class="text-center" ng-if="!storages.connected.length">no connected</div>
                <div class="col-md-3 storages-sm logo-storage-container"
                     ng-repeat="storage in storages.connected"
                     ng-click="disconnect(storage.id)">
                    <div class="logo-sm text-center container"
                         ng-class="getStorageLargeImageClass(storage.id)"></div>
                    <div class="text-center logo-storage-name">{{storage.name}}</div>
                    <div class="disconnect text-center">disconnect</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">cancel</button>
        </div>
    </script>

    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/ng")
</body>
<html>

<div class="cloud-content centered margin-top-s"
     ng-if="!isLoginView && storages.connected.length">
    @*<div class="col-md-2 text-center">
        <button class="btn btn-danger create-folder-button"
                      ng-click="createFolder()">
                new folder
                <span class="glyphicon glyphicon-plus pull-left new-folder"></span>
            </button>
            <input type="file" class=""
                     nv-file-select uploader="uploader" />
            <div ng-if="uploader.queue[0]">
                name: <span ng-bind="uploader.queue[0].file.name"></span><br />
                <button ng-click="uploader.queue[0].upload()">upload</button>
            </div>
        </div>*@
    <div>
        <div class="text-center no-entities"
             ng-if="folders.length === 0">no folders</div>
        <div class="box folder container relative folder"
             ng-repeat="folder in folders track by folder.id">
            <div class="storage-logo"
                 ng-class="getStorageImageClass(folder.storageId)"></div>
            <div class="name absolute" title="{{folder.name}}"
                 ng-click="openFolder(folder)">{{folder.name}}</div>
            <button class="option absolute" type="button" data-toggle="dropdown"
                    aria-expanded="false">
                <span class="glyphicon glyphicon-cog open-options"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a ng-click="deleteFolder(folder, $index)">delete</a></li>
                <li><a ng-click="renameFolder(folder, $index)">rename</a></li>
            </ul>
        </div>
    </div>
    <hr />
    <div>
        <div class="text-center no-entities"
             ng-if="files.length === 0">no files</div>
        <div class="box file container relative"
             ng-repeat="file in files track by file.id">
            <div class="storage-logo"
                 ng-class="getStorageImageClass(file.storageId)"></div>
            <div class="name absolute"
                 title="{{file.name}}">
                {{getFileNameWithoutExtention(file.name)}}
            </div>
            <button class="option absolute" type="button" data-toggle="dropdown"
                    aria-expanded="false">
                <span class="glyphicon glyphicon-cog open-options"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a ng-click="download(file)">download</a></li>
                <li><a ng-click="deleteFile(file, $index)">delete</a></li>
                <li><a ng-click="renameFile(file, $index)">rename</a></li>
            </ul>
        </div>
    </div>
</div>

<div ng-if="!isLoginView && !storages.connected.length">
    <div class="welcome text-center">welcome page</div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 logo-storage-container"
                 ng-repeat="storage in storages.available"
                 ng-click="authorizeStorage(storage.id)">
                <div class="logo-lg text-center container"
                     ng-class="getStorageLargeImageClass(storage.id)"></div>
                <div class="text-center logo-storage-name">{{storage.name}}</div>
                <div class="connect text-center">connect</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 logo-storage-container"
                 ng-repeat="storage in storages.connected"
                 ng-click="disconnect(storage.id)">
                <div class="logo-lg text-center container"
                     ng-class="getStorageLargeImageClass(storage.id)"></div>
                <div class="text-center logo-storage-name">{{storage.name}}</div>
                <div class="disconnect text-center">disconnect</div>
            </div>
        </div>
    </div>
</div>
