<div class="login-head">
    <h1 class="text-center">are you ready ?</h1>
</div>
<div class="form-login">
    <form name="loginForm" ng-submit="loginForm.$valid && login()" novalidate>
        <div class="form-group">
            <input type="text" name="loginInput" placeholder="login" class="form-control"
                   ng-model="loginName" required />
            <div class="margin-top-s text-danger" ng-messages="loginForm.loginInput.$error">
                <span ng-message=" required">write your login</span>
            </div>
        </div>
        <div class="form-group">
            <input type="password" name="passwordInput" placeholder="*******" class="form-control"
                   ng-model="loginPassword" required/>
            <div class="margin-top-s text-danger" ng-messages="loginForm.passwordInput.$error">
                <span ng-message="required">write your password</span>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="let's go"
               ng-disabled="loginForm.$invalid" />
        <a ui-sref="register" class="btn btn-default">go to register</a>
    </form>
    <h4><a href="#">lost password ?</a></h4>
</div>