<div ng-controller="loginController">
    <div class="login-head">
        <h1 class="text-center">are you ready ?</h1>
    </div>
    <div class="form-login">
        <form ng-submit=login()>
            <div class="form-group">
                <input type="text" placeholder="login" class="form-control"
                       ng-model="loginName" />
            </div>
            <div class="form-group">
                <input type="password" placeholder="*******" class="form-control"
                       ng-model="loginPassword" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="let's go" />
            </div>
        </form>
        <h4><a href="#">lost password ?</a></h4>
        <a ui-sref="register" class="btn btn-primary">register</a>
    </div>
</div>