<div class="upload-container fixed">
    <div class="margin-bottom-s">
        <div class="btn-group" dropdown>
            <button type="button" class="btn btn-success btn-sm upload"
                    ng-disabled="!folderStorage"
                    ng-click="createFolder()">
                create folder
            </button>
            <button type="button" class="btn btn-success btn-sm dropdown-toggle" dropdown-toggle>
                to
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="storage in storages.connected">
                    <a ng-click="createFolder(storage.alias)">{{storage.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="btn-group" dropdown>
            <button type="button" class="btn btn-success btn-sm upload"
                    ng-disabled="!folderStorage">
                upload file
            </button>
            <button type="button" class="btn btn-success btn-sm dropdown-toggle" dropdown-toggle>
                to
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="storage in storages.connected">
                    <a href="">{{storage.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>