<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Google Drive settings-->
    <add key="DriveClientId" value="767979376707-p4svekk6n62fijknkiuqhjtv6mtn0her.apps.googleusercontent.com" />
    <add key="DriveClientSecret" value="gwQz_AoShY3o5XJhS3CrALmS" />
    <add key="DriveApplicationUserAgent" value="Cloud" />
    <add key="DriveAppDataFileStore" value="Drive.Cloud.Credentals" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>